@font-face {
  font-family: "FlexiFalse";
  src: url("../../assets/Flexi_IBM_VGA_False.ttf") format("truetype");
}

@font-face {
  font-family: "FlexiTrue";
  src: url("../../assets/Flexi_IBM_VGA_True.ttf") format("truetype");
}

.almanax-container {
  padding: 20px;
  font-family: "FlexiTrue", sans-serif;
  max-width: auto;
  margin: auto;
}

.almanax-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: "FlexiFalse", sans-serif;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px 20px;
  text-align: center;
}
.almanax-description {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.almanax-item-wrapper {
  margin-top: 30px;
  text-align: center;
}

.almanax-item-image {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
}

.almanax-item-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.almanax-item-text {
  margin-top: 10px;
  font-size: 20px;
}

.almanax-level {
  margin-top: 30px;
  text-align: center;
}

.almanax-level input {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 60px;
  text-align: center;
}

.almanax-level label {
  margin-top: 5px;
  font-size: 22px;
  color: #888;
  display: block;
}

.almanax-rewards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20rem;
  font-size: 28px;
}

.almanax-back-button {
  margin-top: 50px;
  text-align: center;
}

.almanax-back-button button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #333;
}

.almanax-back-button button span {
  font-size: 20px;
  margin-right: 5px;
}
.almanax-back-button button:hover {
  color: #007bff;
}
