@font-face {
  font-family: "FlexiFalse";
  src: url("../../assets/Flexi_IBM_VGA_False.ttf") format("truetype");
}

@font-face {
  font-family: "FlexiTrue";
  src: url("../../assets/Flexi_IBM_VGA_True.ttf") format("truetype");
}

.almanax-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
}

.almanax-title {
  font-family: "FlexiFalse", monospace;
  font-size: 1.8rem;
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: 2px solid gold;
  color: #fff8dc;
  text-shadow: 1px 1px #000;
  margin-bottom: 25px;
}

.almanax-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.almanax-item-wrapper {
  margin: 20px 0 20px 0px;
}

.almanax-item-image {
  display: inline-block;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid gold;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4); /* glow doré */
  margin-bottom: 15px;
}

.almanax-item-text {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.highlight {
  color: gold;
  font-weight: bold;
}

.almanax-level {
  margin-top: 10px;
  margin-bottom: 30px;
}

.almanax-level input {
  font-family: "FlexiFalse";
  padding: 6px 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  text-align: center;
  width: 90px;
  color: white;
}

.almanax-level label {
  display: block;
  font-size: 1rem;
  color: #bbb;
  margin-top: 6px;
  width: 180px;
  font-family: "FlexiFalse", sans-serif;
}

.almanax-rewards {
  display: flex;
  justify-content: center;
  gap: 16rem;
  font-size: 2rem;
  margin-bottom: 60px; /* plus bas que l’image mais pas collé au bas */
}

.kamas-icon,
.xp-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.almanax-back-button {
  position: absolute;
  bottom: 75px; /* plus haut qu’avant */
  left: 50%;
  transform: translateX(-50%);
}

.almanax-back-button button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.almanax-back-button img {
  width: 120px;
  height: 80px;
  transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
  filter: drop-shadow(0 0 0 transparent);
}

.almanax-back-button button:hover img {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #ffe066);
}

.almanax-image-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.almanax-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: radial-gradient(
    circle,
    rgba(255, 217, 0, 0.259) 0%,
    transparent 70%
  );
  filter: blur(5px);
  z-index: 1;
}

.almanax-image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid gold;
  object-fit: contain;
  z-index: 2;
  position: relative;
}
