@font-face {
  font-family: "FlexiTrue";
  src: url("./src/assets/Flexi_IBM_VGA_True.ttf") format("truetype");
}
@font-face {
  font-family: "FlexiFalse";
  src: url("./src/assets/Flexi_IBM_VGA_False.ttf") format("truetype");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: "FlexiTrue", monospace;
  color: #fff8dc;
  background: radial-gradient(ellipse at center, #2e2540 0%, #1e192e 100%);
}

#root {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #2e2540 0%, #1e192e 100%);
  border: 2px solid gold;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}
