@font-face {
  font-family: 'FlexiFalse';
  src: url('../../assets/Flexi_IBM_VGA_False.ttf') format('truetype');
}

@font-face {
  font-family: 'FlexiTrue';
  src: url('../../assets/Flexi_IBM_VGA_True.ttf') format('truetype');
}
